{% extends "Amazonclone/base.html" %}
{% block content %}
{% load socialaccount %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
 
<div class="container mt-5" style="max-width:500px;">
    <h2 class="mb-4 text-center text-warning">Create Your Amazon Account</h2>
    <form method="post" action="/signup" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-warning w-100">Continue</button>
      <a href="{% provider_login_url 'google' %}">Login with Google</a>


    </form>
    <p class="mt-3">Already have an account?
        <a href="{% url 'login' %}">Sign in</a>
    </p>
</div>

{% endblock %}
